@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import 'utils/colors';
@import 'components/common';
@import 'components/button';
@import 'components/header';
@import 'components/logo';
@import 'components/hero';
@import 'components/benefits';
@import 'components/works';
@import 'components/team';
@import 'components/clients';
@import 'components/portfolio';
@import 'components/footer';
@import 'components/modal';
