.benefits__list {
    margin: -15px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.benefits__item {
    margin: 15px;

    @media screen and (min-width: 480px) {
        max-width: 100%;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
    }
}

.benefits__title {
    color: getColor('title');
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    /*mobile*/
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
.benefits__icon {
    width: 70px;
    height: 70px;
}
.benefits__wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;

    height: 120px;
    border-radius: 4px;
    background-color: getColor('buttonbg');
    margin-bottom: 30px;
}
