%button {
    display: block;
    border: none;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button {
    @extend %button;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 32px;
    min-width: 200px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.87;
    background-color: getColor('accent');
    color: getColor('accentwhite');

    &--margin {
        margin-top: 30px;
    }
    &--position {
        position: absolute;
        left: 370px;
        top: 48px;
        text-align: start;
    }

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.filter__button {
    @extend %button;
    background-color: getColor('buttonbg');
    color: getColor('title');
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    &:hover,
    &:focus {
        background-color: getColor('accent');
        color: getColor('accentwhite');
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
