.hero {
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-mobile1x.jpg');
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-size: cover;

    &__title {
        text-transform: uppercase;
        color: getColor('accentwhite');
        font-weight: 900;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
        text-align: center;
        font-size: 44px;
        line-height: 1.36;
        font-size: 44px;
        line-height: 1.36;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-mobile2x.jpg');
    }

    @media (min-width: 500px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero-tablet1x.jpg');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url('../images/hero-tablet2x.jpg');
        }
    }
    @media (min-width: 981px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero-desktop1x.jpg');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url('../images/hero-desktop2x.jpg');
        }
    }
}
