.menu-container {
    background-color: turquoise;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    padding-top: 48px;
    padding-right: 25px;

    &.is-open {
        display: block;
    }
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.mobile-button {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;

    &.is-open .js-open-menu {
        display: none;
    }
    &.is-open .js-close-menu {
        margin-left: auto;
        display: flex;
    }

    @media screen and (min-width: 767px) {
        display: none;
    }
}
.js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
}
.mobile-menu__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #212121;
}
