.team {
    background-color: getColor('buttonbg');
}
.team__list {
    display: flex;
    font-size: 16px;
    line-height: 1.9;
    justify-content: space-between;
}
.team__item {
    width: 270px;
    background: #ffffff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    &:last-child {
        margin-right: 0;
    }
}

.team__wrapp {
    padding: 30px 32px;
}
.team__member {
    color: getColor('title');
    font-weight: 500;
    margin-bottom: 10px;
}
.team__master {
    margin-bottom: 16px;
}

.social__list {
    display: flex;
    justify-content: space-between;
    width: 206px;
}

.social__icon {
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: getColor('social');

    &--dark {
        fill: getColor('accentwhite');
    }
}

.social__link {
    cursor: pointer;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: getColor('accentwhite');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--dark {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover,
    &:focus {
        background-color: getColor('accent');
    }

    &:hover .social__icon,
    &:focus .social__icon {
        fill: getColor('accentwhite');
    }
}
